table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(143, 190, 97);
  border: solid black 2px;
}

table > thead, tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

th, td {
  width: 155px;
  height: 70px;
  text-align: center;
  background-color: aqua;
  border: solid black 2px;
}

td > label, input {
  width: 155px;
}

.tableButton {
  width: 155px;
  padding: 10px;
  text-align: center;
  border-radius: 5%;
  background-color: aqua;
  border: solid black 2px;
}
